body{
    background-image: linear-gradient(rgb(28, 103, 242),black);
}
*{
    margin: 10;
    padding: 0;
}
.wrapper{
    margin: 0 auto;
    width: 1000px
}
video{
    width:100%;
}
footer {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 25px;
}